include ../grid/grid
include ../create-element/create-element
include ../scripts/scripts

doctype html
html(lang='ru')
  include ../head/head
  body
    header
      .wrapper
        .header
          a.header-logo(href='/')
            span Нейрохирургический центр
            |  им. профессора Г.С. Тиглиева «Новые технологии»
          .header-content
            .header-top
              .header-social-links
                | Мы в соцсетях:
                .social-links
                  a(href='https://vk.com/neurostiglievaru' target='_blank' rel='nofollow')
                    i.fa.fa-vk(aria-hidden='true')
              a.header-email(href='mailto:info@neuros.ru')
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 10')
                  path(d='M.4.94C.69,1.17,4.81,4.29,5,4.4a1,1,0,0,0,.56.19.94.94,0,0,0,.55-.19c.16-.11,4.28-3.23,4.57-3.46s.59-.94,0-.94H.37C-.19,0,.08.71.4.94Z')
                  path(d='M10.76,2.67,6.06,6.13a.92.92,0,0,1-1.12,0C4.73,6,.58,2.89.24,2.67S0,2.71,0,2.86V9.17c0,.38.35.83.61.83h9.78c.26,0,.61-.45.61-.83V2.86C11,2.71,11,2.48,10.76,2.67Z')
                | info@neuros.ru
              .header-address
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 14')
                  path(d='M4.5,0A4.44,4.44,0,0,0,0,4.38C0,8.57,4.5,14,4.5,14S9,8.54,9,4.38A4.44,4.44,0,0,0,4.5,0Zm0,6.79A2.4,2.4,0,0,1,2.08,4.44,2.4,2.4,0,0,1,4.5,2.08,2.4,2.4,0,0,1,6.92,4.44,2.35,2.35,0,0,1,4.5,6.79Z')
                | г. Санкт-Петербург, пр. Культуры, д. 4
            .header-phones
              span.header-phone-ico
                svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36')
                  path(d='M10.41,25.5C20,35.19,29.8,37.64,32.42,35c2.27-2.27,6.2-5.07,1-9.17s-6.55-2.1-8.91.26c-1.66,1.66-5.76-1.74-9.34-5.33s-7-7.68-5.33-9.34c2.36-2.27,4.37-3.75.26-8.91S3.25,1.31,1,3.58C-1.64,6.2.81,16,10.41,25.5Z')
              a.header-phone.phone-1(href='tel:+78002222590')
                span.header-phone-code 8 (800)
                |  222 25 90
                span.header-phone-free бесплатно по России
              a.header-phone.phone-2(href='tel:+78129150330')
                span.header-phone-code +7 (921)
                |  915 03 30
            .header-schedule
              | пн-пт: с 09:30 до 18:00
              br
              |              сб-вс: выходной
            a.header-appointment(href='/to-patients/appointment/')
              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 18')
                path(d='M14.08,10.25v4a1.28,1.28,0,0,1-1.3,1.27h-9a1.28,1.28,0,0,1-1.3-1.27V5.48A1.29,1.29,0,0,1,3.81,4.2H9.36l2.5-2.45h-8A3.78,3.78,0,0,0,0,5.48v8.79A3.78,3.78,0,0,0,3.81,18h9a3.78,3.78,0,0,0,3.81-3.73V7.65Z')
                path(d='M7.86,8,7.14,10.3h0l0,.19c-.1.33-.19.9.1,1.18s.86.19,1.15.09l.2,0h0L10.9,11,17,5,13.94,2ZM11.19,9.4l-.68.66-1.11.33-1-.94.34-1.09.67-.66Z')
                path(d='M19,2.65A1,1,0,0,0,18.71,2L17,.28A.94.94,0,0,0,16.3,0a1,1,0,0,0-.68.28l-1.2,1.18,3.09,3,1.2-1.18A.86.86,0,0,0,19,2.65Z')
            a.header-callback.fancybox(href='#callback')
              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44.97 42.66')
                path(d='M43.85,5.54c-2.6-2.6-5.8-7.1-10.5-1.2s-2.4,7.6.3,10.2c1.9,1.9-2,6.6-6.1,10.7s-8.8,8-10.7,6.1c-2.7-2.7-4.3-5-10.2-.3s-1.4,7.9,1.2,10.5c3,3,14.2.2,25.2-10.9C44.05,19.74,46.85,8.54,43.85,5.54Z')
                polygon(points='10.86 0 10.86 5.93 0 5.93 0 14.47 10.86 14.47 10.86 20.4 22.52 10.23 10.86 0')
          .menu-wrapper.small-wrapper
            .menu-button.a
              div
              div
              div
            ul.menu
              li
                a(href='/') Главная
              li
                a.parent(href='/about-center/') О центре
                ul
                  li
                    a(href='/about-center/general-information/') Общая информация
                  li
                    a(href='/about-center/history/') История
                  li
                    a(href='/about-center/team/') Коллектив
                  li
                    a(href='/about-center/patents/') Патенты
                  li
                    a(href='/about-center/sertificates/') Сертификаты
                  li
                    a(href='/about-center/comments/') Отзывы
                  li
                    a(href='/about-center/video/') Видео
                  li
                    a(href='/about-center/photogallery/') Фотогалерея
              li
                a.parent(href='/treatment/') Лечение
                ul
                  li
                    a.parent(href='/treatment/brain/') Головной мозг
                    ul
                      li
                        a(href='/treatment/brain/brain-tumor/') Опухоль мозга
                      li
                        a(href='/treatment/brain/pituitary-adenoma/') Аденома гипофиза
                      li
                        a(href='/treatment/brain/ishemicheskiy-insult/') Ишемический инсульт
                  li
                    a.parent(href='/treatment/golovnaya-bol/') Головная боль
                    ul
                      li
                        a(href='/treatment/golovnaya-bol/monoklonalnye-antitela1/') Моноклональные антитела
                      li
                        a(href='/treatment/golovnaya-bol/botulinoierapiya/') Ботулинотерапия
                  li
                    a.parent(href='/treatment/spinal-cord/') Спинной мозг
                    ul
                      li
                        a(href='/treatment/spinal-cord/spinal-cord-tumor/') Опухоль спинного мозга
                  li
                    a.parent(href='/treatment/sosudy-golovnogo-i-spinnogo-mozga/') Сосуды головного и спинного мозга
                    ul
                      li
                        a(href='/treatment/sosudy-golovnogo-i-spinnogo-mozga/anevrizma_new/') Аневризма
                      li
                        a(href='/treatment/sosudy-golovnogo-i-spinnogo-mozga/arterio-venoznaya-malformatsiya/') Артерио-Венозная Мальформация
                  li
                    a.parent(href='/treatment/peripheral-nerves/') Периферические нервы
                    ul
                      li
                        a(href='/treatment/peripheral-nerves/neuralgia-of-the-trigeminal-nerve/') Невралгия тройничного нерва
                      li
                        a(href='/treatment/peripheral-nerves/neuropathy-of-the-facial-nerve/') Невропатия лицевого нерва
                      li
                        a(href='/treatment/peripheral-nerves/neuralgia-of-the-glossopharyngeal-nerve/') Невралгия языкоглоточного нерва
                  li
                    a.parent(href='/treatment/backbone/') Позвоночник
                    ul
                      li
                        a(href='/treatment/backbone/stenosis/') Стеноз
                      li
                        a(href='/treatment/backbone/herniated-cervical-spine/') Грыжа шейного отдела
                      li
                        a(href='/treatment/backbone/spinal-hernia/') Грыжа позвоночника
                  li
                    a.parent(href='/treatment/botox/') Ботулинотерапия (БТА)
                    ul
                      li
                        a(href='/treatment/botox/botulinoterapiya2/') Гемифациальный спазм
                      li
                        a(href='/treatment/botox/botulinoterapiya-botoks/') Ботулинотерапия
              li
                a.parent(href='/to-patients/') Пациентам
                ul
                  li
                    a(href='/to-patients/appointment/') Записаться на приём
                  li
                    a(href='/to-patients/hospitalization/') Госпитализация
                  li
                    a(href='/to-patients/services-and-prices/') Услуги и цены
                  li
                    a(href='/to-patients/free-absentee-consultation/') Заочная консультация
                  li
                    a(href='/to-patients/oplatit/') Оплатить
              li
                a.parent.selected(href='/questions/') Вопрос-ответ
                ul
                  li
                    a(href='/questions/questions-about-operations/') Вопросы об операциях
                  li
                    a(href='/questions/questions-on-diseases/') Вопросы о болезнях
                  li
                    a(href='/questions/ask-a-question/') Задать вопрос
              li
                a.parent(href='/press-room/') Пресс-центр
                ul
                  li
                    a(href='/press-room/news/') Новости
                  li
                    a(href='/press-room/articles/') Статьи
              li
                a(href='/contacts/') Контакты
        .small-wrapper
          .h1-wrapper
            h1.text-align-left !{pageTitle}
        .breadcrumbs
          .wrapper
            div(itemscope='' itemtype='http://schema.org/BreadcrumbList')
              #bx_breadcrumb_0.breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                a(href='/' title='Главная' itemprop='url')
                  span(itemprop='name') Главная
                meta(itemprop='position' content='1')
              .breadcrumbs-item(itemprop='itemListElement' itemscope='' itemtype='http://schema.org/ListItem')
                span.breadcrumbs-separator /
                span(itemprop='name') Вопрос-ответ
                meta(itemprop='position' content='2')
              .clear
    main: block content
    footer.footer
  script(type='text/javascript' src='https://neuros.ru/bitrix/templates/neuros/js/jquery-3.3.1.min.js?154601311586927')
  script(type='text/javascript' src='https://neuros.ru/bitrix/templates/neuros/js/jquery.fancybox.min.js?154601311545500')
  script(type='text/javascript' src='https://neuros.ru/bitrix/templates/neuros/js/slick.min.js?154601311542863')
  script(type='text/javascript' src='https://neuros.ru/bitrix/templates/neuros/js/jquery.activity.min.js?16516456781582')
  script(type='text/javascript' src='https://neuros.ru/bitrix/templates/neuros/js/script.js?16516459413884')

  +scripts(['script.js'])
