mixin consultationAnswer(item)
  .consultation-answer
    .consultation-answer__title Ответ
    .consultation-answer__body
      - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
      +createElement(item.body)
