.consultation-answer
  margin-top 20px
  padding 20px
  background-color #F8F7F6
  &__title
    position relative
    margin-bottom 10px
    padding-left 34px
    font-size 15px
    line-height 24px
    &::before
      content ''
      position absolute
      top 2px
      left 2px
      width 20px
      height 20px
      background-color #4FB14A
      mask-image url(../images/svg-sprites/common.svg#consultation-answer__title)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
  p
    margin 0
  p + p
    margin-top 10px
