.pagination.consultation-pagination
  .pagination-pages-list
    span.pagination-page.pagination-active 1
    a.pagination-page(href='/') 2
    a.pagination-page(href='/') 3
    a.pagination-page(href='/') 4
    a.pagination-page(href='/') 5
    a.pagination-page.pagination-dots(href='/') ...
    a.pagination-page(href='/') 69
  a.pagination-arrow.pagination-next(href='/') Следующая страница
