.form-input
  display block
  &--checkbox
    display flex
  &--captcha
    display flex
    flex-direction column
    align-items stretch
  &__row
    display flex
  &__captcha-image
    width 100%
    margin basePadding basePadding 0
  &__field
  &__select
    display block
    width 100%
    padding (basePadding/3*2) (basePadding/3*4)
    line-height 1.5
    border 1px solid #e7e7e8
    textarea&
      height calc(9.75rem + 2px)
      resize none
  &__label
    display inline-block
    margin-bottom (basePadding/3)
  &__checkbox
    flex-shrink 0
    margin-right (basePadding/2)
