head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Scada:400,700&subset=cyrillic' rel='stylesheet')
  link(rel='stylesheet' href='https://neuros.ru/bitrix/templates/neuros/css/critical.min.css')
  link(rel='stylesheet' href='https://neuros.ru/bitrix/templates/neuros/css/rest.min.css?1')
  link(rel='stylesheet' href='/template/styles/style.css')

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')
