mixin consultationCategories(list)
  .consultation-categories
    .consultation-categories__title.consultation-title Рубрики
    .consultation-categories__list
      each item, i in list
        .consultation-categories__list-item
          span.consultation-categories__name !{item.name}
          .consultation-categories__sublist
            each subItem in item.list
              - const itemClass = subItem.active ? 'consultation-categories__sublist-item--active' : ''
              .consultation-categories__sublist-item(class= itemClass)
                a(href='/').consultation-categories__sublist-name !{subItem.name}
                .consultation-categories__sublist-count !{subItem.count}
