.consultation-categories
  padding 30px
  background-color #fff
  &__list-item
    margin-top 20px
    & > span
      position relative
      display block
      padding-right 24px
      font-size 20px
      line-height 25px
      cursor pointer
      &::after
        content ''
        position absolute
        top 6px
        right 6px
        width 8px
        height 8px
        border-left 2px solid
        border-bottom 2px solid
        transform rotate(-45deg)
        transform-origin 50% 50% 0
    &--active
      & > span::after
        border-color #9D9EA0
        transform rotate(135deg)
      & > ^[-2]__sublist
        display block
  &__sublist
    display none
    margin-top 10px
  &__sublist-item
    --color-text #9D9EA0
    display flex
    justify-content space-between
    gap 10px
    margin-top 5px
    font-size 15px
    line-height 24px
    &--active
      --color-text #646466
  &__sublist-name
    text-decoration none
    color var(--color-text)
    transition color .4s
    &:hover
      color #646466
      transition-duration .1s
  &__sublist-count
    font-size 15px
    line-height 24px
    color #4FB14A
