.consultation-more
  margin-top 20px
  padding-top 20px
  border-top 1px solid #F8F7F6
  &__item
    position relative
    display flex
    flex-wrap wrap
    column-gap 10px
    margin-bottom 10px
    padding-left 34px
    &::before
      content ''
      position absolute
      top 2px
      left 2px
      width 20px
      height 20px
      background-color #9D9EA0
      mask-image var(--mask)
      mask-repeat no-repeat
      mask-position center
      mask-size cover
    &--illness
      --mask url(../images/svg-sprites/common.svg#consultation-more__item--illness)
    &--treatment
      --mask url(../images/svg-sprites/common.svg#consultation-more__item--treatment)
    & + &
      margin-top 10px
