extends /blocks/layout/layout

block head
  -
    var pageTitle = ''
    var pageDescription = ''
    var pageKeywords = ''
block content
  .consultation-container: .wrapper.main-content
    a(href='/konsultatsiya.html') Консультация — konsultatsiya.html
    br
    a(href='/konsultatsiya-answer.html') Консультация, ответ — konsultatsiya-answer.html
    br
    a(href='/konsultatsiya-ask.html') Консультация, форма вопроса — konsultatsiya-ask.html
