extends /blocks/layout/layout

include /blocks/page-subsection/page-subsection
include /blocks/consultation-question/consultation-question
include /blocks/consultation-answer/consultation-answer
include /blocks/consultation-categories/consultation-categories
include /blocks/consultation-doctor/consultation-doctor
include /blocks/consultation-more/consultation-more
include /blocks/consultation-similar/consultation-similar

block head
  -
    var pageTitle = 'Анапластичная эпиндемома обоих полушарий'
    var pageDescription = ''
    var pageKeywords = ''
block content
  .consultation-container: .wrapper.main-content
    +grid({'par-like':true,'padding-y': true})
      +cell({m:8,xs:12})
        +pageSubsection: +blockMarked
          -
            const consultationQuestion = {
              title: 'Максимальный срок службы системы волос',
              body: 'Доброе время суток! Проконсультируйте пожалуйста по следующей проблеме. В 2015 году мужу (1991гр) был поставлен диагноз анапластическая эпиндемома обоих полушарий мозжечка функционально значимых зон, параствтловая. Проведена операция. В 2016 году был рецидив. Наблюдается каждый год, данных за рецидив и MTS нет. В апреле 2018 года появились боли в области левого бедра при движении. Сделали МРТ пояснично-крестцового отдела, выявлены единичные объемные образования терминальной нити спинного мозга на уровне L3-L5 позвонков. Невролог назначила таблетки мелоксикам, омепразол, сирдалуд 2мг, кеторолак 50мг и мази. Спустя неделю боли усилились, и болит не только бедро, но и левый бок. Какое лечение лучше сделать? Радиотерапия или оперативным путём? Заключение МРТ со снимками есть, можно ли отправить Вам на почту для точной консультации? Если да, то подскажите пожалуйста адрес куда отправлять',
              author: 'Татьяна',
              date: '08.10.2019'
            }
          +consultationQuestion(consultationQuestion)
          -
            const consultationAnswer = {
              body: '<p>Здравствуйте, Татьяна!</p><p>Вышлите, пожалуйста, снимки МРТ на наш электронный адрес.</p>',
              category: 'Иногородним: снятие мерок, доставка, самостоятельная фиксация',
            }
          +consultationAnswer(consultationAnswer)
          +consultationMore({
            illness: 'Эпендимома головного мозга',
            treatment: 'Удаление эпендимомы головного мозга',
          })
          +consultationDoctor({
            name: 'Васюкова Наталья Львовна',
            image: 'https://dummyimage.com/96x96',
            occupation: 'Невролог',
            experience: 'Стаж работы 15 лет',
          })
        +pageSubsection
          +blockMarked
            +consultationSimilar([
              'Произошло снятие протеза, как восстановить?',
              'Выбор оптимальных вакуумных новых протезов присосок',
              'Воспаление верхней губы и жжение десны',
              'Сендвич протез на нижнюю челюсть',
            ])
        +pageSubsection
          include /blocks/consultation-ask-panel/consultation-ask-panel
      +cell({m:4,s:6,xs:12})
        include /data/consultation-categories
        +consultationCategories(consCategories)
