mixin consultationSimilar(list)
  .consultation-similar
    .consultation-similar__title.consultation-title Похожие вопросы
    .consultation-similar__list
      each item in list
        a(href='/').consultation-similar__item !{item}
