.consultation-ask-form
  &__textarea
    height 170px
  &__file-header
    font-size 18px
    font-weight bold
    & + p
      margin-top 5px
      margin-bottom 16px
  &__conditions
    font-size 13px
