.consultation-list
  &__item
    display flex
    flex-direction column
    & + &
      margin-top 30px
  &__title
    order 2
    margin-top 0
    margin-bottom .625rem
    font-size 1.25rem
    font-weight 400
  &__question
    order 3
    margin 0
  &__author
    order 1
    margin-bottom 5px
    font-weight bold
    line-height line-m
