include /blocks/block-marked/block-marked

mixin consultationList(list)
  .consultation-list
    each item in list
      +blockMarked.consultation-list__item
        h2.consultation-list__title
          a(href='konsultatsiya-answer.html') !{item.title}
        if item.question
          p.consultation-list__question !{item.question}... 
            a(href='#') Подробнее
        .consultation-list__author
          span.consultation-list__name !{item.author}
          | , 
          span.consultation-list__date !{item.date}
