include /blocks/block-marked/block-marked

mixin consultationQuestion(item)
  .consultation-question
    .consultation-question__title Вопрос
    if item.body
      .consultation-question__body
        - item.body = typeof item.body == 'object' ? item.body : {tag:'p', content:item.body}
        +createElement(item.body)
      .consultation-question__info
        span.consultation-question__author !{item.author}
        | , 
        span.consultation-question__date !{item.date}
    else
      +cell({xs:12}).consultation-question__info
        .consultation-question__author !{item.author}
        .consultation-question__date !{item.date}
