.consultation-ask-panel
  &__title
    margin-bottom 10px
  p
    margin 0
    font-size 18px
  p + p
    margin-top 10px
  &__button
    position relative
    display block
    padding 16px 16px 16px 48px
    text-align center
    color #4FB14A
    border 2px solid
    &:hover
      background-color rgba(#4FB14A, .05)
    &::before
      content ''
      position absolute
      top 4px
      bottom 4px
      left 4px
      width 40px
      height auto
      background-color rgba(#4FB14A, .25)
      mask-image url(../images/svg-sprites/common.svg#consultation-ask-panel__button)
      mask-repeat no-repeat
      mask-position right
      mask-size contain
