include /blocks/block-marked/block-marked

+blockMarked({smallPadding: true}).consultation-ask-panel
  +grid({alignItems: 'center'})
    +cell({m:7,xs:12})
      .consultation-ask-panel__title.consultation-title Есть вопросы?
      p Задайте вопрос на сайте врачам нашего центра.
      p Если у вас срочный вопрос, звоните: +7 (800) 222-25-90
      p Работаем пн-пт с 09:30 до 18:00
    +cell({m:5,xs:12}).consultation-ask-panel__right
      a(href='/').consultation-ask-panel__button Задать вопрос нейрохирургу
