mixin menuItem(item, className)
  -
    i = i || 0
    const itemClass = className.split(' ').map(classItem => `${classItem}__item`)
    if (item.active) itemClass.push(...className.split(' ').map(classItem => `${classItem}__item--active`))
    if (item.sublist) itemClass.push(...className.split(' ').map(classItem => `${classItem}__item--parent`))
    if (i) itemClass.push(...className.split(' ').map(classItem => `${classItem}__item--sub ${classItem}__item--sub-${i}`))
  li(class= itemClass)
    a(href= item.href) !{item.name}
    if item.sublist
      - i += 1
      +menuList(item.sublist, className)
      - i -= 1

mixin menuList(list, className)
  -
    const listClass = className.split(' ').map(item => {
      if (i > 0) return `${item}__list ${item}__list--sub ${item}__list--sub-${i}`
      else return `${item}__list`
    }).join(' ')
  ul(class= listClass)
    each item in list
      +menuItem(item, className)

mixin menu(list)
  nav&attributes(attributes)
    +menuList(list, attributes.class)
