-
  var consCategories = [
    {name:'Заболевания головного мозга', list: [
        { name: 'Опухоли головного мозга', count: '95', active: true },
        { name: 'Заболевания сосудов головного мозга', count: '52' },
        { name: 'Пороки развития головного мозга', count: '63' },
        { name: 'Гидроцефалии головного мозга', count: '74' },
        { name: 'Травмы головного мозга', count: '12' },
        { name: 'Дефекты черепа', count: '51' },
        { name: 'Функциональные нарушения головного мозга', count: '96' },
        { name: 'Дефекты черепа', count: '22' },
      ]},
    {name:'Заболевания спинного мозга', list: [
        { name: 'Опухоли головного мозга', count: '95' },
        { name: 'Заболевания сосудов головного мозга', count: '52' },
        { name: 'Пороки развития головного мозга', count: '63' },
        { name: 'Гидроцефалии головного мозга', count: '74' },
        { name: 'Травмы головного мозга', count: '12' },
        { name: 'Дефекты черепа', count: '51' },
        { name: 'Функциональные нарушения головного мозга', count: '96' },
        { name: 'Дефекты черепа', count: '22' },
      ]},
    {name:'Заболевания позвоночника', list: [
        { name: 'Опухоли головного мозга', count: '95' },
        { name: 'Заболевания сосудов головного мозга', count: '52' },
        { name: 'Пороки развития головного мозга', count: '63' },
        { name: 'Гидроцефалии головного мозга', count: '74' },
        { name: 'Травмы головного мозга', count: '12' },
        { name: 'Дефекты черепа', count: '51' },
        { name: 'Функциональные нарушения головного мозга', count: '96' },
        { name: 'Дефекты черепа', count: '22' },
      ]},
    {name:'Заболевания периферической нервной системы', list: [
        { name: 'Опухоли головного мозга', count: '95' },
        { name: 'Заболевания сосудов головного мозга', count: '52' },
        { name: 'Пороки развития головного мозга', count: '63' },
        { name: 'Гидроцефалии головного мозга', count: '74' },
        { name: 'Травмы головного мозга', count: '12' },
        { name: 'Дефекты черепа', count: '51' },
        { name: 'Функциональные нарушения головного мозга', count: '96' },
        { name: 'Дефекты черепа', count: '22' },
      ]},
  ]
